@font-face {
    font-family: "Gidole";
    src: url("../../../../fonts/Gidole-Regular.ttf");
}

.root{
    -fx-font-family: "Gidole";
    -fx-font-size: 14px;
    -fx-background-color: #121212;
}

.button {
  -fx-min-height: 30;
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: gold;
    -fx-text-fill: black;
}

.combo-box {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.combo-box:hover {
    -fx-background-color: gold;
}

.combo-box .list-cell {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.combo-box .list-cell:hover {
    -fx-background-color: gold;
    -fx-text-fill: black;
}

.label {
    -fx-text-fill: white;
}

.text-area .content{
    -fx-background-color: #1e1e1e;
}

.text-field{
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.radio-button > .radio{
    -fx-background-color: #1e1e1e;
    -fx-border-color: transparent;
}

.radio-button > .radio:hover{
    -fx-background-color: gold;
}

.radio-button:selected .radio .dot{
    -fx-background-color: grey;
}
.radio-button {
    -fx-text-fill: white;
}

.slider .track{
    -fx-background-color: #1e1e1e;
}

.slider .thumb {
    -fx-background-color: grey;
}

.scroll-pane {
    -fx-background-color: #1e1e1e;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .track{
    -fx-background-color: lightgrey;
}

.scroll-bar .thumb{
    -fx-background-color: grey;
}

.list-view {
    -fx-background-color: #2c2c2c;
}

.list-view .list-cell{
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}
