@font-face {
    font-family: "Gidole";
    src: url("../../../../fonts/Gidole-Regular.ttf");
}

.root{
    -fx-font-family: "Gidole";
    -fx-font-size: 18px;
    -fx-background-color: #121212;
}

.button {
    -fx-min-height: 35;
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: gold;
    -fx-text-fill: black;
}

.combo-box {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 5px;
}

.combo-box-base:hover {
    -fx-background-color: gold;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-base:hover .list-cell {
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: gold;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #121212;
    -fx-text-fill: gold;
}

.label {
    -fx-text-fill: white;
}

.text-area .content{
    -fx-background-color: #1e1e1e;
}

.text-area{
    -fx-text-fill: white;
}

.text-field{
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.radio-button > .radio{
    -fx-background-color: #1e1e1e;
    -fx-border-color: transparent;
}

.radio-button > .radio:hover{
    -fx-background-color: gold;
}

.radio-button:selected .radio .dot{
    -fx-background-color: grey;
}
.radio-button {
    -fx-text-fill: white;
}

.slider .track{
    -fx-background-color: #1e1e1e;
}

.slider .thumb {
    -fx-background-color: grey;
}

.scroll-pane {
    -fx-background-color: #1e1e1e;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .track{
    -fx-background-color: lightgrey;
}

.scroll-bar .thumb{
    -fx-background-color: grey;
}

.list-view {
    -fx-background-color: #2c2c2c;
}

.list-view .list-cell{
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.list-view .list-cell:selected{
    -fx-background-color: #121212;
    -fx-text-fill: gold;
}

.progress-bar .track {
    -fx-background-radius: 5em;
    -fx-background-color: #1e1e1e;
}

.progress-bar .bar {
    -fx-background-radius: 5em;
    -fx-background-color: green;
}

.scroll-bar:vertical .track{
    -fx-background-color: #1e1e1e;
}

.scroll-pane .viewport {
    -fx-background-color: #1e1e1e;
}

.questionBox{
    -fx-background-color: #121212;
    -fx-background-radius: 5px;
}

.trainingButton {
    -fx-min-height: 40;
    -fx-min-width: 60;
     -fx-background-color: #121212;
 }

.table-view .column-header-background {
    -fx-pref-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-padding: 0;
}

.table-view{
    -fx-background-color: #1e1e1e;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: #1e1e1e;
}

.table-row-cell:selected{
    -fx-background-color: #121212;
}

.table-row-cell:selected .table-cell{
    -fx-text-fill: gold;
}

.valueColumn{
    -fx-alignment: center;
}
