@font-face {
    font-family: "Gidole";
    src: url("../../../../fonts/Gidole-Regular.ttf");
}

.root{
    -fx-font-family: "Gidole";
    -fx-font-size: 18px;
    -fx-background-color: #f3f3f3;
    labelBackColor: transparent;
}

.button {
    -fx-min-height: 35;
    -fx-background-color: lightgrey;
}

.text-field, .text-area {
    -fx-background-color: white;
    -fx-border-color: lightgrey;
}

.text-area .content {
    -fx-background-color: white;
}


.trainingButton {
    -fx-min-height: 50;
    -fx-min-width: 60;
}

.button:hover{
    -fx-background-color: skyblue;
}

.combo-box {
    -fx-background-color: lightgrey;
}

.combo-box:hover {
    -fx-background-color: skyblue;
}

.radio-button > .radio{
    -fx-background-color: lightgrey;
    -fx-border-color: transparent;
}

.radio-button > .radio:hover{
    -fx-background-color: skyblue;
}

.slider .track{
    -fx-background-color: lightgrey;
}

.slider .thumb {
    -fx-background-color: grey;
}

.scroll-pane .viewport{
    -fx-background-color: white;
}

.questionBox{
    -fx-background-color: #f3f3f3;
    -fx-border-color: lightgrey;
    -fx-background-radius: 5px;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .track{
    -fx-background-color: lightgrey;
}

.scroll-bar .thumb{
    -fx-background-color: grey;
}

.progress-bar .track {
    -fx-background-radius: 5em;
    -fx-background-color: lightgrey;
}

.progress-bar .bar {
    -fx-background-radius: 5em;
    -fx-background-color: #00c100;
}

.centerColumn{
    -fx-alignment: CENTER;
}

.rightColumn{
    -fx-alignment: CENTER-RIGHT;
}

.introQuizLabel{
    -fx-font-size: 24px;
}

.default-color0.chart-pie {
    -fx-pie-color: #00c100;
}

.default-color1.chart-pie {
    -fx-pie-color: red;
}

.chart-legend {
    -fx-background-color: transparent;
}

.labelBack{
    -fx-background-color: labelBackColor;
    -fx-padding: 10;
    -fx-background-radius: 5;
}
