@font-face {
    font-family: "Gidole";
    src: url("../../../../fonts/Gidole-Regular.ttf");
}

.root{
    -fx-font-family: "Gidole";
    -fx-font-size: 18px;
    -fx-background-color: #f3f3f3;
}

.button {
  -fx-min-height: 35;
    -fx-background-color: lightgrey;
}

.trainingButton {
    -fx-min-height: 50;
    -fx-min-width: 60;
}

.button:hover{
    -fx-background-color: skyblue;
}

.combo-box {
    -fx-background-color: lightgrey;
}

.combo-box:hover {
    -fx-background-color: skyblue;
}

.text-area .content{
    -fx-background-color: #e6e6e6;
}

.text-field{
    -fx-background-color: #e6e6e6;
}

.radio-button > .radio{
    -fx-background-color: lightgrey;
    -fx-border-color: transparent;
}

.radio-button > .radio:hover{
    -fx-background-color: gold;
}

.slider .track{
    -fx-background-color: lightgrey;
}

.slider .thumb {
    -fx-background-color: grey;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .track{
    -fx-background-color: lightgrey;
}

.scroll-bar .thumb{
    -fx-background-color: grey;
}

.progress-bar .track {
    -fx-background-radius: 5em;
    -fx-background-color: lightgrey;
}

.progress-bar .bar {
    -fx-background-radius: 5em;
    -fx-background-color: green;
}

.table-view .column-header-background {
    -fx-pref-height: 0;
    -fx-opacity: 0;
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-padding: 0;
}
.valueColumn{
    -fx-alignment: center;
}
